@import "../main.css";

:root {
  color-scheme: dark;
}

body {
  color: white;
}

.pf-v5-c-page {
  @apply overflow-scroll bg-slate-950!;
}

/* Masthead */
.pf-v5-c-masthead {
  @apply border-b border-slate-800 bg-slate-900! shadow-none;
}

.pf-v5-c-toolbar {
  @apply bg-transparent!;
}

.kc-masthead-title {
  @apply ml-3 text-2xl tracking-wide text-slate-100;
}

/* Sidebar */
.pf-v5-c-page__sidebar {
  border-inline-end: none !important;
}

.pf-v5-c-page__sidebar-body {
  @apply border-r border-slate-800 bg-slate-950;
}

.pf-v5-c-nav__link:hover {
  @apply bg-slate-800!;
}

.pf-v5-c-nav__link:focus {
  @apply bg-slate-800!;
}

.pf-v5-c-nav__link.pf-m-current {
  @apply bg-slate-700! text-white;
  font-weight: 600;
}

.pf-v5-c-nav__link::after {
  @apply border-blue-500!;
}

.pf-v5-c-nav__link::before {
  @apply border-b border-slate-800!;
}

.pf-v5-c-nav__item.pf-m-expandable::before {
  @apply border-b border-slate-800!;
}

/* Main layout */
.pf-v5-c-page__main {
  @apply mx-auto mt-8 h-fit w-fit rounded-2xl border border-slate-800 bg-slate-900 p-6;
}

.pf-v5-c-page__main-section {
  @apply rounded-none border-0 bg-transparent!;
  @apply lg:max-w-4xl;
}

.pf-v5-c-title {
  @apply text-slate-100;
}

/* Forms */
.pf-v5-c-form__label-text {
  @apply text-slate-200;
}

.pf-v5-c-form__label-required {
  @apply text-red-500;
}

.pf-v5-c-form-control {
  @apply rounded-md border border-slate-700 bg-slate-800! text-slate-100;
  box-shadow: none;
  background-image: none;
}

.pf-v5-c-form-control:disabled,
.pf-v5-c-form-control.pf-m-disabled {
  @apply border-slate-700/40! bg-slate-800/40! text-slate-400;
  opacity: 0.7;
}

.pf-v5-c-form-control::after {
  @apply border-none!;
}

.pf-v5-c-menu-toggle {
  @apply rounded-md! border! border-slate-700! bg-slate-800! text-slate-100!;
  @apply max-w-md! duration-150;
}

.pf-v5-c-menu-toggle:disabled,
.pf-v5-c-menu-toggle.pf-m-disabled {
  @apply border-slate-700/40! bg-slate-800/40! text-slate-400;
  opacity: 0.7;
}

.pf-v5-c-menu-toggle:hover {
  @apply border-slate-600! bg-slate-700!;
}

.pf-v5-c-menu-toggle::after,
.pf-v5-c-menu-toggle::before {
  @apply border-none!;
}

.pf-v5-c-menu {
  @apply mt-1 rounded-lg bg-slate-800!;
}

.pf-v5-c-menu__item:hover {
  @apply bg-slate-700;
}

.pf-v5-c-menu__item:focus {
  @apply bg-slate-700;
}

.pf-v5-c-form__actions {
  @apply flex justify-end;
}

/* Buttons */
.pf-v5-c-button {
  @apply inline-flex! items-center gap-2 rounded-md!;
}

.pf-v5-c-button.pf-m-primary {
  @apply bg-white! text-black!;
  @apply duration-150;
  @apply hover:bg-slate-300!;

  @apply disabled:bg-slate-500! disabled:hover:bg-slate-500!;
  @apply disabled:hover:cursor-not-allowed!;
}

.pf-v5-c-button.pf-m-secondary::after {
  @apply border-none!;
}

.pf-v5-c-button.pf-m-secondary,
.pf-v5-c-button.pf-m-link {
  @apply border! border-white! text-white! no-underline!;
}

.pf-v5-l-split__item {
  @apply flex gap-2;
}

/* Alerts */
.pf-v5-c-alert {
  @apply rounded-md border border-slate-700! bg-slate-800!;
}

/* Data */
.pf-v5-c-data-list {
  @apply border-slate-700!;
}

.pf-v5-c-data-list__item {
  @apply border-none! bg-slate-900!;
}

.pf-v5-c-data-list__item-row {
  @apply border-b border-slate-700;
}
